In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [4]:
!ls ../data

Daily_ARMSTRONG (AUT)_3987.csv   Daily_HAINES JUNCTION_1556.csv
Daily_CAPE PARRY A_1633.csv      Daily_HOPEDALE (AUT)_6781.csv
Daily_COLD LAKE A_2832.csv       Daily_PILOT MOUND (AUT)_3649.csv
Daily_COMOX A_155.csv            Daily_TRENTON A_5126.csv
Daily_GREENWOOD A_6354.csv

In [26]:
files=os.listdir("../data/")

9

In [39]:
df_0=pd.read_csv("../data/"+files[0])
df_1=pd.read_csv("../data/"+files[1])
df_2=pd.read_csv("../data/"+files[2])

df_3=pd.read_csv("../data/"+files[3])
df_4=pd.read_csv("../data/"+files[4])
df_5=pd.read_csv("../data/"+files[5])

df_6=pd.read_csv("../data/"+files[6])
df_7=pd.read_csv("../data/"+files[7])
df_8=pd.read_csv("../data/"+files[8])

print(df_0.shape[0]+df_1.shape[0]+df_2.shape[0]+df_3.shape[0]+df_4.shape[0]+df_5.shape[0]+df_6.shape[0]+df_7.shape[0]+df_8.shape[0])

206413

In [40]:
df=pd.concat([df_0, df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8], ignore_index=True)

In [41]:
df.head()

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Day,Data Quality,Max Temp (°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow on Grnd (cm),Snow on Grnd Flag,Dir of Max Gust (10s deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,-137.58,60.77,HAINES JUNCTION,2100630,2023-01-01,2023,1,1,NaN,-5.8,...,NaN,NaN,NaN,M,25.0,NaN,NaN,NaN,NaN,NaN
1,-137.58,60.77,HAINES JUNCTION,2100630,2023-01-02,2023,1,2,NaN,1.4,...,NaN,NaN,NaN,M,25.0,NaN,NaN,NaN,NaN,NaN
2,-137.58,60.77,HAINES JUNCTION,2100630,2023-01-03,2023,1,3,NaN,-2.6,...,NaN,NaN,NaN,M,24.0,NaN,NaN,NaN,NaN,NaN
3,-137.58,60.77,HAINES JUNCTION,2100630,2023-01-04,2023,1,4,NaN,-12.0,...,NaN,NaN,NaN,M,24.0,NaN,NaN,NaN,NaN,NaN
4,-137.58,60.77,HAINES JUNCTION,2100630,2023-01-05,2023,1,5,NaN,-10.6,...,NaN,NaN,NaN,M,24.0,NaN,NaN,NaN,NaN,NaN

In [42]:
df.shape

(206413, 31)

In [44]:
df.head()

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Day,Data Quality,Max Temp (°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow on Grnd (cm),Snow on Grnd Flag,Dir of Max Gust (10s deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,-137.58,60.77,HAINES JUNCTION,2100630,2023-01-01,2023,1,1,NaN,-5.8,...,NaN,NaN,NaN,M,25.0,NaN,NaN,NaN,NaN,NaN
1,-137.58,60.77,HAINES JUNCTION,2100630,2023-01-02,2023,1,2,NaN,1.4,...,NaN,NaN,NaN,M,25.0,NaN,NaN,NaN,NaN,NaN
2,-137.58,60.77,HAINES JUNCTION,2100630,2023-01-03,2023,1,3,NaN,-2.6,...,NaN,NaN,NaN,M,24.0,NaN,NaN,NaN,NaN,NaN
3,-137.58,60.77,HAINES JUNCTION,2100630,2023-01-04,2023,1,4,NaN,-12.0,...,NaN,NaN,NaN,M,24.0,NaN,NaN,NaN,NaN,NaN
4,-137.58,60.77,HAINES JUNCTION,2100630,2023-01-05,2023,1,5,NaN,-10.6,...,NaN,NaN,NaN,M,24.0,NaN,NaN,NaN,NaN,NaN

In [54]:
df.describe()

,Longitude (x),Latitude (y),Climate ID,Year,Month,Day,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Heat Deg Days (°C),Cool Deg Days (°C),Total Rain (mm),Total Snow (cm),Total Precip (mm),Snow on Grnd (cm)
count,206413.000000,206413.000000,2.064130e+05,206413.000000,206413.000000,206413.000000,206413.000000,206412.000000,206413.000000,206413.000000,206413.000000,161064.000000,160772.000000,181120.000000,156103.000000
mean,-98.177507,52.856096,4.693558e+06,1988.400837,6.510913,15.728753,6.833737,-3.133274,1.856235,16.370644,0.226879,1.650591,0.482084,2.019676,9.321762
std,25.951702,7.741770,2.603567e+06,20.643684,3.453046,8.797863,13.966484,13.145253,13.326043,13.010467,0.939581,5.196294,2.088193,5.429791,21.516461
min,-137.580000,44.120000,1.021830e+06,1953.000000,1.000000,1.000000,-47.800000,-53.900000,-49.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-124.720000,49.190000,2.200675e+06,1970.000000,4.000000,8.000000,-1.700000,-10.800000,-6.200000,5.900000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,-98.900000,50.290000,5.022125e+06,1987.000000,7.000000,16.000000,8.000000,-0.500000,3.900000,14.100000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,-77.530000,55.450000,6.158875e+06,2007.000000,10.000000,23.000000,17.800000,6.700000,12.100000,24.200000,0.000000,0.300000,0.000000,1.200000,10.000000
max,-60.220000,70.170000,8.502400e+06,2023.000000,12.000000,31.000000,39.000000,25.600000,29.900000,67.500000,11.900000,127.400000,64.000000,127.400000,313.000000

In [46]:
df.nunique()

Longitude (x)                    9
Latitude (y)                     9
Station Name                     9
Climate ID                       9
Date/Time                    25932
Year                            71
Month                           12
Day                             31
Data Quality                     0
Max Temp (°C)                  782
Max Temp Flag                    1
Min Temp (°C)                  724
Min Temp Flag                    2
Mean Temp (°C)                 746
Mean Temp Flag                   1
Heat Deg Days (°C)             634
Heat Deg Days Flag               1
Cool Deg Days (°C)             113
Cool Deg Days Flag               1
Total Rain (mm)                575
Total Rain Flag                  5
Total Snow (cm)                323
Total Snow Flag                  5
Total Precip (mm)              605
Total Precip Flag                6
Snow on Grnd (cm)              253
Snow on Grnd Flag                3
Dir of Max Gust (10s deg)       37
Dir of Max Gust Flag             3
Spd of Max Gust (km/h)         201
Spd of Max Gust Flag             2
dtype: int64

In [53]:
df.isna().sum()

Longitude (x)             0
Latitude (y)              0
Station Name              0
Climate ID                0
Date/Time                 0
Year                      0
Month                     0
Day                       0
Max Temp (°C)             0
Min Temp (°C)             1
Mean Temp (°C)            0
Heat Deg Days (°C)        0
Cool Deg Days (°C)        0
Total Rain (mm)       45349
Total Snow (cm)       45641
Total Precip (mm)     25293
Snow on Grnd (cm)     50310
dtype: int64

In [47]:
feat_to_keep=["Longitude (x)","Latitude (y)","Station Name","Climate ID","Date/Time","Year","Month","Day","Max Temp (°C)","Min Temp (°C)","Mean Temp (°C)","Heat Deg Days (°C)","Cool Deg Days (°C)","Total Rain (mm)","Total Snow (cm)","Total Precip (mm)","Snow on Grnd (cm)"]

In [48]:
df=df[feat_to_keep]

In [58]:
df.isna().sum()

Longitude (x)             0
Latitude (y)              0
Station Name              0
Climate ID                0
Date/Time                 0
Year                      0
Month                     0
Day                       0
Max Temp (°C)             0
Min Temp (°C)             1
Mean Temp (°C)            0
Heat Deg Days (°C)        0
Cool Deg Days (°C)        0
Total Rain (mm)       45349
Total Snow (cm)       45641
Total Precip (mm)     25293
Snow on Grnd (cm)     50310
dtype: int64

In [59]:
df=df.dropna(subset=["Min Temp (°C)"], axis=0)

In [60]:
df.isna().sum()

Longitude (x)             0
Latitude (y)              0
Station Name              0
Climate ID                0
Date/Time                 0
Year                      0
Month                     0
Day                       0
Max Temp (°C)             0
Min Temp (°C)             0
Mean Temp (°C)            0
Heat Deg Days (°C)        0
Cool Deg Days (°C)        0
Total Rain (mm)       45348
Total Snow (cm)       45641
Total Precip (mm)     25293
Snow on Grnd (cm)     50310
dtype: int64

In [74]:
df_na=df.dropna()

In [75]:
df_na.shape

(147843, 17)

In [95]:
pd.set_option('display.max_rows', None)
station_year_counts = df_na[["Year", "Station Name"]].value_counts()
station_year_counts = station_year_counts.sort_index(level=["Station Name", "Year"])

In [96]:
station_year_counts

Year  Station Name
1955  ARMSTRONG (AUT)      365
1956  ARMSTRONG (AUT)      366
1957  ARMSTRONG (AUT)      365
1958  ARMSTRONG (AUT)      365
1959  ARMSTRONG (AUT)      335
1960  ARMSTRONG (AUT)      366
1961  ARMSTRONG (AUT)      365
1962  ARMSTRONG (AUT)      365
1963  ARMSTRONG (AUT)      365
1964  ARMSTRONG (AUT)      366
1965  ARMSTRONG (AUT)      365
1966  ARMSTRONG (AUT)      365
1967  ARMSTRONG (AUT)      365
1968  ARMSTRONG (AUT)      366
1969  ARMSTRONG (AUT)      365
1970  ARMSTRONG (AUT)      365
1971  ARMSTRONG (AUT)      365
1972  ARMSTRONG (AUT)      366
1973  ARMSTRONG (AUT)      365
1974  ARMSTRONG (AUT)      365
1975  ARMSTRONG (AUT)      365
1976  ARMSTRONG (AUT)      366
1977  ARMSTRONG (AUT)      365
1978  ARMSTRONG (AUT)      365
1979  ARMSTRONG (AUT)      365
1980  ARMSTRONG (AUT)      366
1981  ARMSTRONG (AUT)      365
1982  ARMSTRONG (AUT)      364
1995  ARMSTRONG (AUT)        2
1957  CAPE PARRY A         245
1958  CAPE PARRY A         286
1959  CAPE PARRY A         234
1960  CAPE PARRY A         366
1961  CAPE PARRY A         365
1962  CAPE PARRY A         365
1963  CAPE PARRY A         365
1964  CAPE PARRY A         366
1965  CAPE PARRY A         365
1966  CAPE PARRY A         365
1967  CAPE PARRY A         365
1968  CAPE PARRY A         366
1969  CAPE PARRY A         365
1970  CAPE PARRY A         365
1971  CAPE PARRY A         365
1972  CAPE PARRY A         366
1973  CAPE PARRY A         365
1974  CAPE PARRY A         365
1975  CAPE PARRY A         365
1976  CAPE PARRY A         366
1977  CAPE PARRY A         365
1978  CAPE PARRY A         365
1979  CAPE PARRY A         365
1980  CAPE PARRY A         366
1981  CAPE PARRY A         362
1982  CAPE PARRY A         365
1983  CAPE PARRY A         365
1984  CAPE PARRY A         366
1985  CAPE PARRY A         365
1986  CAPE PARRY A         365
1987  CAPE PARRY A         365
1988  CAPE PARRY A         365
1989  CAPE PARRY A         365
1990  CAPE PARRY A         365
1991  CAPE PARRY A         365
1992  CAPE PARRY A         364
1993  CAPE PARRY A          89
1955  COLD LAKE A          365
1956  COLD LAKE A          366
1957  COLD LAKE A          365
1958  COLD LAKE A          365
1959  COLD LAKE A          365
1960  COLD LAKE A          366
1961  COLD LAKE A          365
1962  COLD LAKE A          365
1963  COLD LAKE A          365
1964  COLD LAKE A          366
1965  COLD LAKE A          365
1966  COLD LAKE A          365
1967  COLD LAKE A          365
1968  COLD LAKE A          366
1969  COLD LAKE A          365
1970  COLD LAKE A          365
1971  COLD LAKE A          365
1972  COLD LAKE A          366
1973  COLD LAKE A          365
1974  COLD LAKE A          365
1975  COLD LAKE A          365
1976  COLD LAKE A          366
1977  COLD LAKE A          365
1978  COLD LAKE A          365
1979  COLD LAKE A          365
1980  COLD LAKE A          366
1981  COLD LAKE A          365
1982  COLD LAKE A          365
1983  COLD LAKE A          365
1984  COLD LAKE A          366
1985  COLD LAKE A          365
1986  COLD LAKE A          365
1987  COLD LAKE A          365
1988  COLD LAKE A          366
1989  COLD LAKE A          365
1990  COLD LAKE A          365
1991  COLD LAKE A          365
1992  COLD LAKE A          357
1993  COLD LAKE A          285
1994  COLD LAKE A          365
1995  COLD LAKE A          364
1996  COLD LAKE A          366
1997  COLD LAKE A          365
1998  COLD LAKE A          365
1999  COLD LAKE A          365
2000  COLD LAKE A          366
2001  COLD LAKE A          365
2002  COLD LAKE A          365
2003  COLD LAKE A          365
2004  COLD LAKE A          366
2005  COLD LAKE A          365
2006  COLD LAKE A          365
2007  COLD LAKE A          365
2008  COLD LAKE A          366
2009  COLD LAKE A          365
2010  COLD LAKE A          365
2011  COLD LAKE A          365
2012  COLD LAKE A          366
2013  COLD LAKE A          365
2014  COLD LAKE A          365
2015  COLD LAKE A          365
2016  COLD LAKE A          366
2017  COLD LAKE A          365
2018  COLD LAKE A          181
2019  COLD LAKE A          157
2020  COLD LAKE A          185
2021  COLD LAKE A          150
2022  COLD LAKE A          176
2023  COLD LAKE A          156
1955  COMOX A              365
1956  COMOX A              366
1957  COMOX A              365
1958  COMOX A              365
1959  COMOX A              365
1960  COMOX A              366
1961  COMOX A              365
1962  COMOX A              365
1963  COMOX A              365
1964  COMOX A              366
1965  COMOX A              365
1966  COMOX A              365
1967  COMOX A              365
1968  COMOX A              366
1969  COMOX A              365
1970  COMOX A              365
1971  COMOX A              365
1972  COMOX A              366
1973  COMOX A              365
1974  COMOX A              365
1975  COMOX A              365
1976  COMOX A              366
1977  COMOX A              365
1978  COMOX A              365
1979  COMOX A              365
1980  COMOX A              366
1981  COMOX A              365
1982  COMOX A              365
1983  COMOX A              365
1984  COMOX A              366
1985  COMOX A              365
1986  COMOX A              365
1987  COMOX A              365
1988  COMOX A              365
1989  COMOX A              365
1990  COMOX A              365
1991  COMOX A              365
1992  COMOX A              357
1993  COMOX A              365
1994  COMOX A              364
1995  COMOX A              365
1996  COMOX A              364
1997  COMOX A              365
1998  COMOX A              365
1999  COMOX A              365
2000  COMOX A              366
2001  COMOX A              365
2002  COMOX A              365
2003  COMOX A              365
2004  COMOX A              366
2005  COMOX A              365
2006  COMOX A              365
2007  COMOX A              362
2008  COMOX A              366
2009  COMOX A              364
2010  COMOX A              365
2011  COMOX A              365
2012  COMOX A              366
2013  COMOX A              365
2014  COMOX A              364
2015  COMOX A              365
2016  COMOX A              366
2017  COMOX A              365
2018  COMOX A               15
2019  COMOX A               21
2020  COMOX A               10
2021  COMOX A               26
2022  COMOX A               36
2023  COMOX A                8
1955  GREENWOOD A          365
1956  GREENWOOD A          366
1957  GREENWOOD A          365
1958  GREENWOOD A          365
1959  GREENWOOD A          365
1960  GREENWOOD A          366
1961  GREENWOOD A          365
1962  GREENWOOD A          365
1963  GREENWOOD A          365
1964  GREENWOOD A          366
1965  GREENWOOD A          365
1966  GREENWOOD A          365
1967  GREENWOOD A          365
1968  GREENWOOD A          366
1969  GREENWOOD A          365
1970  GREENWOOD A          365
1971  GREENWOOD A          365
1972  GREENWOOD A          366
1973  GREENWOOD A          365
1974  GREENWOOD A          365
1975  GREENWOOD A          365
1976  GREENWOOD A          366
1977  GREENWOOD A          365
1978  GREENWOOD A          365
1979  GREENWOOD A          365
1980  GREENWOOD A          366
1981  GREENWOOD A          365
1982  GREENWOOD A          365
1983  GREENWOOD A          365
1984  GREENWOOD A          365
1985  GREENWOOD A          365
1986  GREENWOOD A          365
1987  GREENWOOD A          365
1988  GREENWOOD A          366
1989  GREENWOOD A          365
1990  GREENWOOD A          365
1991  GREENWOOD A          365
1992  GREENWOOD A          366
1993  GREENWOOD A          365
1994  GREENWOOD A          365
1995  GREENWOOD A          365
1996  GREENWOOD A          366
1997  GREENWOOD A          365
1998  GREENWOOD A          365
1999  GREENWOOD A          365
2000  GREENWOOD A          366
2001  GREENWOOD A          365
2002  GREENWOOD A          365
2003  GREENWOOD A          365
2004  GREENWOOD A          364
2005  GREENWOOD A          365
2006  GREENWOOD A          365
2007  GREENWOOD A          365
2008  GREENWOOD A          366
2009  GREENWOOD A          365
2010  GREENWOOD A          365
2011  GREENWOOD A          365
2012  GREENWOOD A          366
2013  GREENWOOD A          365
2014  GREENWOOD A          365
2015  GREENWOOD A          365
2016  GREENWOOD A          366
2017  GREENWOOD A          365
2018  GREENWOOD A          108
2019  GREENWOOD A          118
2020  GREENWOOD A           96
2021  GREENWOOD A          104
2022  GREENWOOD A          102
2023  GREENWOOD A           93
1961  HAINES JUNCTION      338
1962  HAINES JUNCTION      360
1963  HAINES JUNCTION      350
1964  HAINES JUNCTION      334
1965  HAINES JUNCTION      324
1966  HAINES JUNCTION      363
1967  HAINES JUNCTION      365
1968  HAINES JUNCTION      366
1969  HAINES JUNCTION      365
1970  HAINES JUNCTION      365
1971  HAINES JUNCTION      319
1972  HAINES JUNCTION      366
1973  HAINES JUNCTION      312
1974  HAINES JUNCTION      294
1975  HAINES JUNCTION      300
1976  HAINES JUNCTION      232
1977  HAINES JUNCTION      236
1978  HAINES JUNCTION      292
1979  HAINES JUNCTION      349
1980  HAINES JUNCTION      244
1981  HAINES JUNCTION      323
1982  HAINES JUNCTION      222
1983  HAINES JUNCTION      141
1984  HAINES JUNCTION       78
1985  HAINES JUNCTION       20
1991  HAINES JUNCTION        4
1993  HAINES JUNCTION       22
1955  HOPEDALE (AUT)       307
1956  HOPEDALE (AUT)       366
1957  HOPEDALE (AUT)       365
1958  HOPEDALE (AUT)       365
1959  HOPEDALE (AUT)       365
1960  HOPEDALE (AUT)       366
1961  HOPEDALE (AUT)       365
1962  HOPEDALE (AUT)       365
1963  HOPEDALE (AUT)       365
1964  HOPEDALE (AUT)       366
1965  HOPEDALE (AUT)       365
1966  HOPEDALE (AUT)       363
1967  HOPEDALE (AUT)       365
1968  HOPEDALE (AUT)       366
1969  HOPEDALE (AUT)       365
1970  HOPEDALE (AUT)       365
1971  HOPEDALE (AUT)       365
1972  HOPEDALE (AUT)       366
1973  HOPEDALE (AUT)       365
1974  HOPEDALE (AUT)       365
1975  HOPEDALE (AUT)       365
1976  HOPEDALE (AUT)       366
1977  HOPEDALE (AUT)       365
1978  HOPEDALE (AUT)       365
1979  HOPEDALE (AUT)       365
1980  HOPEDALE (AUT)       366
1981  HOPEDALE (AUT)       361
1982  HOPEDALE (AUT)       364
1983  HOPEDALE (AUT)       365
1984  HOPEDALE (AUT)       235
1957  PILOT MOUND (AUT)     31
1958  PILOT MOUND (AUT)    365
1959  PILOT MOUND (AUT)    365
1960  PILOT MOUND (AUT)    364
1961  PILOT MOUND (AUT)    362
1962  PILOT MOUND (AUT)    354
1963  PILOT MOUND (AUT)    365
1964  PILOT MOUND (AUT)    366
1965  PILOT MOUND (AUT)    365
1966  PILOT MOUND (AUT)    365
1967  PILOT MOUND (AUT)    365
1968  PILOT MOUND (AUT)    366
1969  PILOT MOUND (AUT)    348
1970  PILOT MOUND (AUT)    363
1971  PILOT MOUND (AUT)    363
1972  PILOT MOUND (AUT)    363
1973  PILOT MOUND (AUT)    362
1974  PILOT MOUND (AUT)    361
1975  PILOT MOUND (AUT)    365
1976  PILOT MOUND (AUT)    366
1977  PILOT MOUND (AUT)    365
1978  PILOT MOUND (AUT)    365
1979  PILOT MOUND (AUT)    364
1980  PILOT MOUND (AUT)    366
1981  PILOT MOUND (AUT)    365
1982  PILOT MOUND (AUT)    298
1983  PILOT MOUND (AUT)    364
1984  PILOT MOUND (AUT)    363
1985  PILOT MOUND (AUT)    363
1986  PILOT MOUND (AUT)    273
1996  PILOT MOUND (AUT)     54
1997  PILOT MOUND (AUT)    197
1998  PILOT MOUND (AUT)    214
1999  PILOT MOUND (AUT)    215
2000  PILOT MOUND (AUT)    246
2001  PILOT MOUND (AUT)    210
2002  PILOT MOUND (AUT)    172
2003  PILOT MOUND (AUT)    165
2004  PILOT MOUND (AUT)    211
2005  PILOT MOUND (AUT)    211
2006  PILOT MOUND (AUT)    163
2007  PILOT MOUND (AUT)    173
1955  TRENTON A            365
1956  TRENTON A            366
1957  TRENTON A            365
1958  TRENTON A            365
1959  TRENTON A            365
1960  TRENTON A            366
1961  TRENTON A            365
1962  TRENTON A            365
1963  TRENTON A            365
1964  TRENTON A            366
1965  TRENTON A            365
1966  TRENTON A            365
1967  TRENTON A            365
1968  TRENTON A            366
1969  TRENTON A            365
1970  TRENTON A            365
1971  TRENTON A            365
1972  TRENTON A            366
1973  TRENTON A            365
1974  TRENTON A            365
1975  TRENTON A            365
1976  TRENTON A            366
1977  TRENTON A            365
1978  TRENTON A            365
1979  TRENTON A            365
1980  TRENTON A            366
1981  TRENTON A            365
1982  TRENTON A            365
1983  TRENTON A            365
1984  TRENTON A            366
1985  TRENTON A            365
1986  TRENTON A            365
1987  TRENTON A            365
1988  TRENTON A            366
1989  TRENTON A            365
1990  TRENTON A            365
1991  TRENTON A            364
1992  TRENTON A            357
1993  TRENTON A            317
1994  TRENTON A            365
1995  TRENTON A            365
1996  TRENTON A            366
1997  TRENTON A            364
1998  TRENTON A            365
1999  TRENTON A            365
2000  TRENTON A            366
2001  TRENTON A            365
2002  TRENTON A            365
2003  TRENTON A            363
2004  TRENTON A            366
2005  TRENTON A            365
2006  TRENTON A            365
2007  TRENTON A            365
2008  TRENTON A            363
2009  TRENTON A            363
2010  TRENTON A            335
2011  TRENTON A            360
2012  TRENTON A            366
2013  TRENTON A            334
2014  TRENTON A            365
2015  TRENTON A            365
2016  TRENTON A            366
2017  TRENTON A            365
2018  TRENTON A            121
2019  TRENTON A            121
2020  TRENTON A             73
2021  TRENTON A              2
2022  TRENTON A            107
2023  TRENTON A             89
dtype: int64

In [100]:
df_na["Station Name"].value_counts()

COLD LAKE A          23926
GREENWOOD A          23629
TRENTON A            23392
COMOX A              23109
CAPE PARRY A         12902
PILOT MOUND (AUT)    12641
HOPEDALE (AUT)       10762
ARMSTRONG (AUT)      10198
HAINES JUNCTION       7284
Name: Station Name, dtype: int64

In [101]:
df_na.shape

(147843, 17)

In [99]:
pd.set_option('display.min_rows', 10)

df_na.head()

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Day,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Heat Deg Days (°C),Cool Deg Days (°C),Total Rain (mm),Total Snow (cm),Total Precip (mm),Snow on Grnd (cm)
9883,-137.58,60.77,HAINES JUNCTION,2100630,1993-03-08,1993,3,8,0.0,-18.0,-9.0,27.0,0.0,0.0,0.0,0.0,25.0
9887,-137.58,60.77,HAINES JUNCTION,2100630,1993-03-15,1993,3,15,-6.0,-27.0,-16.5,34.5,0.0,0.0,0.0,0.0,25.0
9896,-137.58,60.77,HAINES JUNCTION,2100630,1993-03-29,1993,3,29,6.0,-18.0,-6.0,24.0,0.0,0.0,0.0,0.0,20.0
9898,-137.58,60.77,HAINES JUNCTION,2100630,1993-03-31,1993,3,31,8.0,-13.0,-2.5,20.5,0.0,0.0,0.0,0.0,20.0
9950,-137.58,60.77,HAINES JUNCTION,2100630,1993-06-01,1993,6,1,21.5,1.0,11.3,6.7,0.0,0.0,0.0,0.0,0.0

In [107]:
df_na[["Station Name","Longitude (x)","Latitude (y)"]].value_counts()

Station Name       Longitude (x)  Latitude (y)
COLD LAKE A        -110.28        54.42           23926
GREENWOOD A        -64.92         44.98           23629
TRENTON A          -77.53         44.12           23392
COMOX A            -124.90        49.72           23109
CAPE PARRY A       -124.72        70.17           12902
PILOT MOUND (AUT)  -98.90         49.19           12641
HOPEDALE (AUT)     -60.22         55.45           10762
ARMSTRONG (AUT)    -88.91         50.29           10198
HAINES JUNCTION    -137.58        60.77            7284
dtype: int64